@mixin backgroundImg {
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin btn-style {
    color: var(--clr-neutral-900);
    cursor: pointer;
    border: 0;
    background: none;
}
