@use '../tools/' as *;

// Reset
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
}

body,
h1,
h2,
h3,
h4,
p,
dl,
dd,
figure {
    margin: 0;
}

ul[class],
ol[class] {
    list-style-type: none;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    border-radius: var(--brd-radius);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* ----- GENERAL STYLES ----- */
html {
    scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    font-weight: 400;
    letter-spacing: -2%;
    line-height: 1.4;
    color: var(--clr-neutral-900);
    padding: 1rem;
}

.bg-primary-300 {
    background-color: var(--clr-primary-300);
    border-radius: var(--brd-radius);
    padding-left: var(--spacer);
    padding-right: var(--spacer);
}

// General layout
section {
    padding: 2.5rem 0;

    @include mq(40em) {
        padding: 3.5rem;
    }
}
